.body{
  color: #444;
}

.container {
  border: 1px solid teal;
  margin: 2px;
}

.bar {
  width: 25px;
  display: inline-block;
  margin-left: 5px;
}

.bar:hover{
  fill: rgb(173, 120, 40);
}

.high {
  color: tomato;
}

.low {
  color: slateblue;
}

svg {
  border: 1px solid palevioletred;
  background-color: papayawhip;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}